@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
  padding: 0rem;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #033540;
  margin: 0 0 0 0 ;
  color: white;
  font-size: 14px;
  padding: 1rem;
  /* max-width: 100%; */
  width: 72%;
}
.title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03rem;
}

.left-bar{
  background-color: #00404F;
  width: 20rem;
  justify-content: center;
  
}

.card-img{
    border-radius: 100%;
    width: 6rem;
    margin: auto;
}

#card-personal-info{
    background-color: #015366;
    text-align: center;
    size: 10rem;
    font-size: 1rem;
    padding: 1.5rem;
}

.card-body{
    padding: 0;
}

.card-img:hover{
    cursor: pointer;
}

.card-body>p {
  color: rgb(226, 231, 231);
  text-align: center;
}

.card-tittle{
  font-size: medium;
  text-align: center;
  color: white;
}


.card-tittle:hover {
    color: rgb(229, 255, 0);
}



.personal-info{
    padding: 1.5rem;
    color: rgb(226, 231, 231);
}

.personal-info>ul{
    padding: 0;
}

.right-info{
    float: right;
}

.line{
    width: 0.3rem;
    background-color: white;
    opacity:40%;
    height: 0.01rem;
    width: 17rem;
    text-align: center;
    margin: 1.5rem auto; 
}

li{
    padding: 0.1rem;
}

.content{
    /* padding-top: 0.7rem; */
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}


.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}





.flex-wrapper {
     display: flex;
     color: rgb(226, 231, 231);
  }

.single-chart {
  width: 33%;
  margin: auto;
  text-align: center;
}

.circular-chart {
  max-width: 80%;
  max-height: 250px;
}


.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}


/* @keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
} */

.circular-chart.orange .circle {
  stroke: rgb(229, 255, 0);
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.circle-tittle{
  margin: 0;
  padding-top: 0.5rem;
}

.range{
  /* margin-left:0.3rem ; */
  height: 0.2rem;
  background-color: rgb(229, 255, 0);
  border-radius: 10%;
}

.element{
   padding-top: 0.5rem; 
   padding-bottom: 0.5rem;
}

.element >p{
  margin: 0;
   padding: 0.4rem 0;  
  color: rgb(226, 231, 231);
}

.Knowledge-part>ul{
  padding: 0;
  margin: 0;
}

.Knowledge-part{
  /* padding: 0.5rem 2rem; */
  color: rgb(226, 231, 231);
}

.card-link{
  color: white;
  color: rgb(226, 231, 231);
}

.card-link:hover{
  color: white;
}

.footer{
  bottom: 0rem;
  position:fixed;
  background-color:#015366;
  width:inherit;
  display: flex;
}

.footer{
  justify-content: center;
  color: white;
}

.footer a{
  color: white;
}


#checkIcon{
  color: rgb(229, 255, 0);
}

.cv-link a {
  color: white;
  text-decoration: none;
  font-size: larger;
  letter-spacing: 0.1rem;
  font-style: bold;
}
.cv-link i {
  color: rgb(229, 255, 0);
}
.page{
  display: flex;
}
.main-content-page{
  width: 100%;
  margin: 2rem 2rem;
  box-sizing:border-box; 
  background-size: cover;
}

.header{
  background-size: 100%;
  max-width: 100%;
  position: relative;
}

.header-cover{
  width: 100%;
}
.text-header{
  padding: 1rem 5rem;
  position: absolute;
  top: 0;
}
.text-header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  margin-top: 2rem;
}
#btn-Discover{
  font-size: 1.3rem;
  padding: 0.8rem 0;
  width: 30%;
  background-color: rgb(229, 255, 0);
  border-color: rgb(229, 255, 0);
  color: black;
  margin-top: 1%;
  border-radius: 5%;
}
#btn-Discover:focus{
  box-shadow: none;
  
} 



 #btn-Discover {
  margin-top: 1rem;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(229, 255, 0);
  transition: color .5s;
  z-index: 1;
  font-size: 1.5rem;
  border-radius: 6px;
  font-weight: 500;
  color: black;
  background-color: rgb(229, 255, 0);
  
 }
 
 #btn-Discover:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #015366;
  height: 150px;
  width: 400px;
  border-radius: 50%;
 }
 
 #btn-Discover:hover {
  color: #fff;
  border: #015366;
 }
 
 #btn-Discover:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
  border: #015366;
 }
 
 #btn-Discover:hover:before {
  top: -30px;
  left: -40px;
  border: #015366;
 }
 
 #btn-Discover:active:before {
  background:#015366;
  transition: background 0s;
}

.number-info{
  max-width: 100%;
  margin: 1rem 0;
}

.info-list{
  display: flex;
 }

 .info-list li{
  display: flex;
 }

 .info-list li p {
  margin: auto 0;
 }

.info-list li{
  /* margin: 0 1rem; */
  text-align: center;
  width: 100%;
}

 .info-list span{
  font-size: 2rem;
  color: rgb(229, 255, 0);
  margin: 0 1rem;
 }

 .Services{
  max-width: 100%;
  margin: 0;
 }

.tittle-services {
  margin-top:2.5rem;
  margin-bottom:1rem;
}

.tittle-services:hover{

}

.cards-services{
  display: flex;
  justify-content:space-around;
}


#card-Services {
  background-color: #015366;
  padding: 2rem 2rem;
  width:fit-content;
  margin-right:1rem;
}



#card-tittle{
  color: white;
  text-align: left;
}

#card-descreption{
  opacity: 80%;
  padding-top:0.7rem ;
}

.Card-service-link{
  text-decoration: none;
  color: rgb(229, 255, 0);
  font-size: 1.1rem;
  padding: 0;
}


.Card-service-link:hover{
  text-decoration: none;
  color: rgb(229, 255, 0);
  margin-left: 0.4rem; 
  transition: 0.2s;
  text-shadow:  1px 0 5px rgb(229, 255, 0);
  
} 
.history{
  display: flex;
}
.Education{
  /* display: flex; */
}
.info-education{
  display: flex;
}

.info-education .card  p {
  opacity: 80%;
  width: fit-content;
}


.info-education #arrow-card{
  position: relative;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #015366;
  margin-right: 10px;
  left: -17px;
  margin-top: 10px;
}


.info-education #arrow-card-work{
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 20px solid #015366;
  margin-right: 10px;
  left:-28.6rem;
  margin-top: 10px;
}

.education-img{
  display: flex;
}

.Work-img{
  display: flex;
}

.container_roadmap-line {
  width: 6rem;
  height: 300px;
  position: relative;
  margin-top: 10%;
}

.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
  
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}



.rb-container ul.rb li::before {
  position: absolute;
  left: -6rem;
  justify-centent:center;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

.roadmap-container-education{
  /* background-color: #015366;
  width: 0.5rem;
  height: 17.6rem;
  border-radius: 1rem; */
  display: flex;
  padding: 0 0.5rem;
  /* justify-content: center; */
}

.background-roadmap-card-education{
  background-color: #02262e;
  width: 6px;
  height: 36.3rem;
  position: absolute;
  border-radius: 5px;
}

#background-roadmap-card-work{
  height: 17.8rem;
}

#cicle-icon-roadmap-card-education2{
  color: rgb(229, 255, 0);
  position: relative;
  top: 18.4rem;
  right: 0.25rem;
  
}

#cicle-icon-roadmap-card-education{
  color: rgb(229, 255, 0);
  position: relative;
  top: 1rem;
  right: 0.25rem;
}


.history .info-education .card{
  background-color:#015366;
  color: white;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: fit-content;
}

.card-header-info-education{
  display: flex;  
  margin-bottom: 0;
  justify-content: space-between;
}

.card-header-info-education >h5{
  font-size: 17px;
  margin-top: 11px;
  margin-bottom: 0px;
}



.card-header-info-education >p{
  opacity: 50%;
  border: solid 0px;
  background-color: #033540;
  border-radius: 20px;
  padding:8px;
}
.cards-contianer{
  max-width: 74rem;
  box-sizing: border-box;

}
.cards-project{
  display: flex;
}

.cards-project .card {
  background-color: #015366;
  margin: 0.15rem;  
  /* width: 50%; */
  /* max-width: fit-content; */
}

.cards-project .card .card-img{
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
}

.cards-project .card h2{
  font-size: 1.3rem;
  cursor: pointer;
}

.cards-project .card p{
  padding: 0rem 1rem 1rem 1rem;
  opacity: 80%;
}

.technology-project-card{
  /* display: flex;
  margin: 0 auto; */
  
}

.recommendation-container{
  max-width: 100%;
}

.recommendation-container .tittle-services h4{
  margin-bottom: 2rem;
}

.Recommendations-cards{
  max-width: 74rem;
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

#card-Recommendations-container{
  width: fit-content;
}
#card-Recommendations-container img{
  width: 10%;
  position: absolute;
  border-radius: 10rem;
  top: -1rem;
  left: 80%;
}

#card-Recommendations-container{
  width: 50%;
  background-color:#015366;
  padding: 1rem;
}

.name-profession h2{
  color: rgb(229, 255, 0);
  font-size: 1.2rem;
}

#card-Recommendations-container p{
  opacity: 80%;
}

#card-Recommendations-container .etoile{
  color:rgb(229, 255, 0) ;
}
.name-profession p{
  font-style: italic;
}

.contact-us-part{
  max-width: 100%;
}
.contact-us-cards{
  display: flex;
  justify-content: space-between;

}

.contact-us-cards .card{
  padding: 3rem 2rem;
  background-color: #015366;
  width: 49%;
}


.contact-us-card{
  
}
.contact-us-card-left-info{
  
}
.contact-us-body-card p{
  text-align: left;
  opacity: 100%;
  
}

.contact-us-card-right-info{
  opacity: 70%;
  float: right;
  margin-left: 1rem;
}
.contact-us-card-left-info a {
  color: white;


}

#icon-contact-us-card-right-info-link{
  color: rgb(229, 255, 0);
}

.get-in-touch-form{
  background-color: #015366;
  padding: 1rem;
}
.container-form{
  padding: 2rem;
}
.group-from{
  display: flex;
  padding: 1rem 0 ;
  
}

.group-from  i {
  background-color:#033540;
  font-size:1rem ;
  padding: 1rem;

}


.group-from  p {
  background-color:#033540;
  font-size:1rem ;
  padding: 1rem;
}

.group-from  img {
  background-color:#033540;
  
  padding: 1rem 0.8rem;
}

.group-from input{
  background-color: #02262e;
  border: none;
  padding: 1rem;
  width:100% ;
  color: rgba(234, 234, 234, 0.561);
}

.group-from  input:focus{
  border: 0rem solid transparent;

}

.group-from textarea{
  background-color: #02262e;
  border: none;
  padding: 1rem;
  width:100% ;
  color: rgba(234, 234, 234, 0.561);
  min-height: 50%;
}

.submit-get-in-touch{
  padding: 1rem 2rem;
  background-color: rgb(229, 255, 0);
  border: none;
  margin-top:1rem ;
}

/* .submit-get-in-touch:hover{
  transition: ease-in-out 0.2s;
  margin-left: 10px;
} */
















.submit-get-in-touch {
  position: relative;
  border: none;
  background-color: rgb(229, 255, 0);
  color: black;
  overflow: hidden;
  letter-spacing: 0.1rem;
 }
 
 
 .submit-get-in-touch::before,
 .submit-get-in-touch::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .submit-get-in-touch::before {
  content: "";
  background: #02262e;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .submit-get-in-touch:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
 .submit-get-in-touch:active {
  transform: scale(0.95);
 }
 
